.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__link {
  color: #dfb56d;
  font-size: 14px;
}
.breadcrumbs__item_active .breadcrumbs__link {
  color: #999999;
 text-decoration: none;
}
.breadcrumbs__item:after {
 content: "/";
 color: #999; 
 padding: 0 4px;
}
.breadcrumbs__item:last-child::after {
 display: none;
 }