.footer {
  height: 140px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #353538;
  align-items: center;
  padding-top: 50px;
  @include tablets {
    padding-top: 25px;
  }
  @include phones {
    flex-direction: column;
  }
}
.footer__col {
  display: flex;
  align-items: center;
  @include phones {
    margin-bottom: 20px;
  }
}
.footer__col_right {
  justify-content: flex-end;
  @include tablets {
    flex-direction: column;
  }
}
.menu.footer__menu {
  @include laptops {
    display: none;
  }
}
