.form {
    background: #f4f5f5;
    padding: 115px 0 79px;
    @include phones {
        padding: 75px 0 40px;
    }
}
.form__box {
    color: #202123;
    margin-bottom: 25px;
}
.form__title {
    margin-bottom: 40px;
}
.form__row {
    display: flex;
    margin-bottom: 30px;
    @include phones {
        display: block;
        margin-bottom: 0px;
    }
}
.form__input {
    flex: 1;
    margin-right: 2%;
    padding: 23px 30px;
    border: none;
    font-size: 18px;
    color: #202123;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    @include phones {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }
}
.form__input:last-child {
    margin-right: 0;
}
.form__input::placeholder{
    color: #666;
}
.form__input:focus {
    border: 1px solid #dfb56d;
}
.form__input_textarea {
    resize: none;
    min-height: 230px;
}
.form__controls {
    display: flex;
    margin-bottom: 30px;
    @include phones {
        display: block;

    }
}
.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
    @include phones {
        margin-right: 6px;
    }
}
.form__controls-title {
    color: #202123;
    font-size: 18px;
    width: 34%;
    margin-left: 30px;
    @include phones {
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
}
.controls__checkbox {
    display: none;
}
.controls__checkbox:checked ~ .controls__tag {
    background: #c7e9d0; 
} 
.controls__elem {
    cursor: pointer;
}
.form__btns {
    display: flex;
    justify-content: flex-end;
    @include phones {
        justify-content: center;
    }
}
.form__btn {
    margin-right: 20px;
    @include phones {
        margin-right: 10px;
    }
}
.form__btn:last-child {
    margin-right: 0;
}