
.reviews {
    margin-bottom: 70px;
    column-count: 2;
    column-gap: 30px;
    padding-top:27px ;
}
.review__header {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.review__userdata {
    max-width: 291px;
}
.review__photo {
    margin-right: 20px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    overflow: hidden;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 34px 19px 32px;
    background: #f4f5f5;
    border-radius: 4px;
}
.review__item {
    margin-bottom: 20px;
}
.review__user {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #202123;
}
.review__user_active {
    color: #4d76a1;
    text-decoration: underline;
}
.review__user:after {
    content: url(./img/icons/socials/vk-colored.png);
    margin-left: 10px;
    vertical-align: middle;
}
.review__tags {
    display: flex;
    align-items: flex-start;
}
.review__tag-item {
    margin-right: 10px;
}
.tag  {
    display: inline-block;
    padding: 8px 16px;
    background: #e6e6e6;
    border-radius: 50px;
    font-size: 13px;
    color: #333;
}
.tag_bg_green {
    background: #c7e9d0;  
}
.review__title {
    margin-bottom: 30px;
    color: #202123;
}
.review__content-text {
    line-height: 1.7;
    margin-bottom: 30px;
} 
.review__date {
    color: #202123;
    font-size: 14px;
}
